.swiper__buy-row{
  width: 100%;
  height: 500px;
  padding: 0;
}
.swiper__buy {
  &:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  transition: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 255px;
  height: 410px;
  box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
  border-radius: 9px;
  padding: 30px;

  &-title {
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.68%;
    text-align: center;
    color: #2A2A2A;
  }

  &-sell {
    margin-top: 9px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #2A2A2A;
  }

  &-btn {
    width: 163px;
    height: 34px;

    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border-radius: 9px;
    cursor: pointer;

  }

  .mars {
    margin-top: 10px;
  }

  .btn__orange {
    background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
    color: #FFFFFF;
    border: none;
    margin-bottom: 10px;
  }

  .btn__white {
    background: transparent;
    border: 2px solid #F9A43F;
    color: #F9A43F;

  }

  .swiper__buy-image {
    width: 100%;
    height: 168px;
  }

  .swiper__buy-image-time {
    width: 100%;
    height: 14px;
  }

  .buy {
    margin-bottom: 85px;
  }


  .swiper-button-next-buy, .swiper-button-prev-buy {
    background: transparent;
    color: #2A2A2A;
  }
}